/* Your CSS here. */
.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F9CB99;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  padding: 24px;
  background-color: #F2EDD1;
}

.Card img {
  width: 150px;
  height: 150px;
}

.title {
  color: #FF5F05;
}

.description {
  font-size: 16px;
  font-weight: 600;
  color: #13294B;
}